main {
    width: 80%;
    margin: auto;
    min-height: 70vh;
}
.photo {
    width: 800px;
    height: 100%;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
    font-family: "Minecraft";
}
h6 {
    text-align: center;
}
.picture {
    text-align: center;

}